<div class="container">
    <div class="row">
        <div class="col text-center">
            <img class="img-thumbnail rounded-circle" src="img/profile.jpg" alt="Profile" width="200">
            <h1 class="display-4">Rafki Desramadhan</h1>
            <p class="lead">Full Stack Javascript | Programmer</p>
        </div>
    </div>
</div>